[Unit]
Description=Run anime sync deploy every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=15s
Unit=anime-sync-deploy.service

[Install]
WantedBy=timers.target
